*.exe
.vscode/


cmake-build-debug/
~*.*
*.iml
.idea/
out/
.gradle/
gradlew*
gradle/**
build/
wrapper/
*/OGLPack
*/Debug
*.vs
/x64
*.idb
*.pdb
*.obj
*.tlog
*vcxproj*
*ilk
*log
*recipe
*.pdb
Debug/
x64/
*vcxproj
*vcxproj*
