main a:link {
  color: darkblue;
}

main a:visited {
  color: blue;
}

aside {
  width: 20%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: white;
}

aside > p {
  margin: 0.5rem;
}

#hardware-requiements_table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#hardware-requiements_table th,
td {
  border: 2px solid #e2e8f0;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#hardware-requiements_table th {
  background-color: #232930;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#hardware-requiements_table tfoot {
  background-color: #5ab8eb;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  #hardware-requiements_table {
    width: 100%;
  }
}

.dark-background-section {
  background: #232930;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgba(255, 255, 255, 0.75);
}

.relative-section {
  position: relative;
}

.banner-image {
  max-height: calc(100vh - 5rem);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.banner-title {
  font-size: calc(2rem + 3vw);
  color: #5ab8eb;
  margin: 0;
  padding-bottom: 2rem;
  z-index: 3;
  font-family: "Teko", "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.banner-sub-title {
  font-size: calc(1.25rem + 1vw);
  color: white;
  font-weight: 600;
}

.banner-caption {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: white;
  z-index: 2;
}

.light-grey-background {
  background-color: #f0f0f0;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}
