#plans-title h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.plans {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plans__section-title {
  color: #212129;
  font-size: 2.5rem;
  text-align: center;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan--highlighted {
  background: rgb(99, 72, 219);
  color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.plan__annotation {
  background: white;
  color: rgb(99, 72, 219);
  padding: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan__features {
  list-style: none;
  padding: 0;
}

.plan__features li {
  margin: 0.5rem 0;
  font-weight: 600;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #69f064;
}

.plan__button {
  background: #212129;
  color: white;
  font: inherit;
  border: 1px solid #2e2e3a;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.plan__button:hover,
.plan__button:active {
  background: white;
  color: #212129;
}

.plan__button:focus {
  outline: none;
}

#main-characters {
  background: #212129;
  margin-top: 5rem;
  padding: 1rem;
}

#main-characters .section-title {
  color: white;
  margin: 2rem;
}

.main-characters__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-character {
  display: inline-block;
  width: 24%;
  vertical-align: center;
}

.main-character__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.main-character__image {
  background: #ffcede;
  width: 108px;
  height: 128px;
  border: 2px solid #242424;
  border-radius: 50%;
  margin: auto;
  padding: 0.1rem;
  object-fit: cover;
}

.relative-section {
  position: relative;
}

.banner-image {
  width: 100%;
  max-height: calc(100vh - 5rem);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.banner-title {
  font-size: calc(1rem + 2vw);
  color: #fff;
  margin: 0;
  padding-bottom: 2rem;
  z-index: 3;
  font-family: "Teko", "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.banner-sub-title {
  font-size: calc(1.25rem + 1vw);
  color: white;
  font-weight: 600;
}

.banner-caption {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: white;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .plans {
    width: 100%;
  }
  .plan {
    width: 100%;
    margin-top: 1rem;
  }

  .main-character {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .plans {
    width: 100%;
  }
  .plan {
    width: 50%;
    margin-top: 1rem;
  }
}
