main {
  margin-top: 5rem;
}

.section-title {
  color: #212129;
  font-size: 2.5rem;
  text-align: center;
}

.resizing-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.resizing-video-container > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media print {
  .resizing-video-container {
    display: none;
  }
}
